.login {
    width: 100vw;
    
    div {
        text-align: center;
    }
    
    form {
        margin: 0 auto;
        width: 350px;
        border: 1px solid;
        border-radius: 1rem;
    }
    
    input {
        width: 100%;
        border: 1px solid;
        border-radius: 0.1rem;
    }
}