:root {
    --canvas-backg-color: #013914; 
    --border-color: #A6BB8D;
    --btn-backg-color: #238636;
    --btn-backg-hover-color: #2EA043;
}

body {
    margin: 0;
    background-color: var(--canvas-backg-color);
    color: white;
}

.login {
    width: 100vw;
    
    .logo-container {
        margin-top: 1rem;
        padding: 1rem 0;
    }
    
    div {
        text-align: center;
    }
    
    h1 {
        margin: 2rem 0;
        font-weight: 300;
    }

    form {
        width: 280px;
        margin: 0 auto;
        padding: 1rem;
        border: 1px solid var(--border-color);
        border-radius: 0.375rem;
    }
    
    label {
        display: block;
        margin: 0.375rem 0;
    }

    input {
        color: white;
        box-sizing: border-box;
        width: 100%;
        padding: 0.375rem;
        margin-bottom: 0.75rem;
        border: 1px solid var(--border-color);
        border-radius: 0.375rem;
        background-color: var(--canvas-backg-color);
    }

    .btn {
        background-color: var(--btn-backg-color);
        cursor: pointer;
        border: none;
        margin-bottom: 0.25rem;
    }

    .btn:hover {
        background-color: var(--btn-backg-hover-color);
    }
}
