.login {
    height: 100vh;
    width: 100vw;
    
    /* To put the login form at the center of the page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.login h1 {
    align-self: center;
}

.login form {
    padding: 0.5rem;

    border: 1px solid;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.login input {
    flex-grow: 1;
    padding: 1rem;
    border-radius: 0.5rem;
}