.trustedBy {
  background-color: #fafafa;
  height: 15vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgb(200, 200, 200);
  font-weight: 500;

  img{
    height: 50px;
    object-fit: contain;
  }
}